*,
body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif;
}

:root {
    --main-color: rgb(209, 54, 54);
}

div[class$="-container"]>div[class$="-title"] {
    font-size: 1.5rem;
}

.material-symbols-outlined {
    color: rgb(41, 41, 41);
    font-variation-settings:
        'FILL' 1;
}

.material-symbols-outlined.white {
    color: white;
    font-size: 1.6rem;
}

.container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    background-color: var(--main-color);
    grid-template-columns: max-content 1fr;
    grid-row: span 2;
    gap: 3.5rem 1rem;
    padding: 1rem;
    padding-right: 5rem;
    z-index: 2;
}

.material-symbols-outlined.cards {
    font-size: 3.5rem;
    color: white;
}

.side-header {
    font-size: 2.5rem;
    color: white;
    align-self: center;
    font-weight: 600;
}

.side-nav-icons,
.side-help-icons,
.side-nav,
.side-help {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    color: white;
}

.side-nav-icons,
.side-help-icons {
    place-items: center;
}

.side-nav,
.side-help {
    grid-column: 2 / 3;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.side-nav>div:hover,
.side-help:hover {
    cursor: pointer;
}

.header {
    grid-column: 2 / 3;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 3.5rem;
    padding: 1rem 3rem;
    align-items: center;
    box-shadow: 0px 3px 9px 0px rgb(165, 165, 165);
    z-index: 1;
    gap: 20px;
}

.header-section-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.search {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 50px;
}

.searchbar {
    flex-grow: 1;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(223, 223, 223);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    min-width: 200px;
}

.searchbar:hover {
    cursor: text;
    background-color: #e7e7e7;
}

.profile {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
}

#bell {
    font-variation-settings:
        'FILL' 0;
}

#bell:hover {
    cursor: grab;
}

.profile-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.profile-badge {
    background: center / contain no-repeat url(imgs/profile-pic-1.jpg);
    border-radius: 60px;
    min-width: 50px;
    height: 50px;
}

.header-section-2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
}

.intro {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-badge.big {
    min-width: 70px;
    height: 70px;
}

#tiny {
    font-size: 1rem;
}

.intro-msg {
    font-size: 2rem;
}

.header-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.header-nav>div {
    background-color: var(--main-color);
    padding: 0.6rem 2rem;
    border-radius: 50px;
    color: white;
    font-weight: bold;
}

.header-nav>div:hover {
    background-color: rgb(241, 45, 45);
    cursor: default;
}

.main {
    grid-column: 2 / 3;
    background-color: #e2e2e2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 1.5rem;
}

.main>* {
    margin-top: 1rem;
}

.projects-container {
    grid-row: span 2;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.projects>div {
    display: grid;
    height: 250px;
    overflow: hidden;
    background-color: #fff;
    padding: 2rem;
    grid-template-rows: 1fr max-content;
    border-radius: 0.5rem;
    border-left: 10px solid var(--main-color);
    box-shadow: 3px 3px 5px 0px rgb(180, 180, 180);
}

.projects>div:hover {
    translate: 0px -5px;
    box-shadow: 3px 3px 10px 0px rgb(180, 180, 180);
}

.project-text {
    grid-row: span 2;
}

.project-text>p {
    color: rgb(102, 102, 102);
}

.project-title {
    font-size: 1.3rem;
}

.project-icons {
    display: grid;
    grid-auto-flow: column;
    justify-self: end;
    gap: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-shadow: 0px 3px 5px 0px rgb(184, 184, 184);
    width: max-content;
}

.project-icons>div {
    font-variation-settings:
        'FILL' 0;
}

.project-icons>div:hover {
    font-variation-settings:
        'FILL' 1;
    cursor: grab;
}

.announcements-container {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcements:hover {
    translate: 0px -5px;
    box-shadow: 3px 3px 10px 0px rgb(180, 180, 180);
}

.announcements>div {
    height: 60px;
    overflow: hidden;
}

.announcement-title {
    font-size: 1rem;
}

.announcement-text {
    color: rgb(102, 102, 102);
    font-size: 0.8rem;
    overflow: hidden;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 2rem;
    flex-grow: 1;
    justify-content: space-evenly;
    min-width: 250px;
    box-shadow: 3px 3px 5px 0px rgb(180, 180, 180);
}

.announcements>div:not(:last-child) {
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}

.trending-container {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trending-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    min-width: 250px;
    box-shadow: 3px 3px 5px 0px rgb(180, 180, 180);
    border-radius: 0.5rem;
    padding: 2rem;
    flex-grow: 1;
    justify-content: space-between;
}

.trending-items:hover {
    translate: 0px -5px;
    box-shadow: 3px 3px 10px 0px rgb(180, 180, 180);
}

.trending-items>div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.description {
    color: rgb(102, 102, 102);
}

.social {
    color: black;
}

div[class*="trending-item-"] {
    border-radius: 60px;
    min-width: 50px;
    height: 50px;
}

.trending-item-badge-1 {
    background: center / contain no-repeat url(imgs/profile-pic-1.jpg);
}

.trending-item-badge-2 {
    background: center / contain no-repeat url(imgs/png-transparent-paper-box-computer-icons-symbol-random-icons-miscellaneous-angle-text-thumbnail.png);
}

.trending-item-badge-3 {
    background: center / 190% no-repeat url(imgs/photo-1481349518771-20055b2a7b24.avif);
}

.trending-item-badge-4 {
    background: center / contain no-repeat url(imgs/DpfGhyLVAAAzxkq.jpg);
}